body {
  width: 100%;
}

body .sign {
  margin: 30px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sign .logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#0b63f6), to(#ff0076));
  background: linear-gradient(to right bottom, #0b63f6, #ff0076);
  color: #fff;
  -webkit-box-shadow: 8px 6px 20px 0px #00000061;
          box-shadow: 8px 6px 20px 0px #00000061;
}

body .sign .logo h1 {
  font-size: 88px;
  font-family: sans-serif;
  text-shadow: 13px -1px 0px #31030366;
}

body .sign .title-form {
  width: 300px;
  height: 40px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dbdbdb;
  font-size: 34px;
}

body .sign .error-sign {
  display: none;
  background: red;
  width: 300px;
  text-align: center;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 40px 0;
  border-radius: 10px;
}

body .sign .error-sign h1 {
  font-size: 24px;
  color: #fff;
  font-family: sans-serif;
}

body .sign .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 25px;
}

body .sign .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

body .sign .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-family: sans-serif;
}

body .sign .inputbox input:focus,
body .sign .inputbox input:valid {
  border-color: blue;
}

body .sign .inputbox input:focus ~ span,
body .sign .inputbox input:valid ~ span {
  -webkit-transform: translateX(-13px) translateY(-35px);
          transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
  color: blue;
}

body .sign .error-input input {
  border-color: red;
}

body .sign .error-input span {
  color: red;
  -webkit-transform: translateX(-13px) translateY(-35px);
          transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

body .sign .error-input input:focus,
body .sign .error-input input:valid {
  border-color: red;
}

body .sign .error-input input:focus ~ span,
body .sign .error-input input:valid ~ span {
  color: red;
}

body .sign .input-image {
  width: 300px;
  height: 100%;
  margin: 10px 0px;
}

body .sign .input-image::-webkit-file-upload-button {
  visibility: hidden;
}

body .sign .input-image::before {
  width: 100%;
  height: 100%;
  text-align: center;
  content: "add image";
  color: black;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 20px;
}

body .sign button {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#0b63f6), to(#003cc5));
  background: linear-gradient(to right, #0b63f6, #003cc5);
  color: #fff;
  height: 50px;
  width: 300px;
  font-size: 24px;
}

body .sign button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#025dfa), to(#004cff));
  background: linear-gradient(to right, #025dfa, #004cff);
  color: #fff;
  -webkit-box-shadow: 7px 11px 20px #0000009e;
          box-shadow: 7px 11px 20px #0000009e;
}

body .sign a {
  margin: 20px 0 0 0;
  background: #32c016;
  text-decoration: none;
  height: 40px;
  width: 200px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sign a:hover {
  background: #36a420;
  -webkit-box-shadow: 7px 11px 20px #0000009e;
          box-shadow: 7px 11px 20px #0000009e;
}

@media screen and (min-width: 700px) {
  body .sign .title-form {
    width: 700px;
    height: 40px;
  }
  body .sign .error-sign {
    width: 700px;
  }
  body .sign .error-sign h1 {
    font-size: 30px;
  }
  body .sign .inputbox {
    position: relative;
    width: 700px;
    height: 60px;
    margin-bottom: 25px;
  }
  body .sign .inputbox input {
    height: 100%;
  }
  body .sign .inputbox span {
    top: 20px;
    font-size: 1.3em;
  }
  body .sign .inputbox input:focus ~ span,
  body .sign .inputbox input:valid ~ span {
    -webkit-transform: translateX(-20px) translateY(-45px);
            transform: translateX(-20px) translateY(-45px);
    font-size: 1.3em;
  }
  body .sign .error-input span {
    -webkit-transform: translateX(-20px) translateY(-45px);
            transform: translateX(-20px) translateY(-45px);
    font-size: 1.3em;
  }
  body .sign .input-image {
    width: 700px;
    height: 100%;
  }
  body .sign button {
    width: 700px;
    font-size: 40px;
  }
  body .sign a {
    height: 40px;
    width: 500px;
    font-size: 30px;
  }
}
/*# sourceMappingURL=sign-up.css.map */